{% extends 'model-page.html' %}
{% block content %}
{% load crispy_forms_tags %}


<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h5><i class="fa fa-user"></i> Meus Dados</h5>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>
                                    <p><b class="text-uppercase">Usuário:</b> {{usuario.username}}</p>
                                </td>
                                <td>
                                    <p><b class="text-uppercase">Nome:</b> {{usuario.first_name}}</p>
                                </td>
                                <td>
                                    <p><b class="text-uppercase">E-mail:</b> {{usuario.email}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><b class="text-uppercase">Telefone:</b> {{usuario.telefone}}</p>
                                </td>
                                <td>
                                    <p><b class="text-uppercase">Cidade:</b> {{usuario.cidade}}</p>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row col">
                            <a class="btn btn-primary block" href="{% url 'usuario:alterarUsuario' request.user.id %}"><em
                                    class="fa fa-pencil-square-o">&nbsp;</em>Alterar dados</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}