{% extends 'model-page.html' %}
{% block content %}
 <style>
    .estrelas input[type=radio] {
    display: none;
    }
    .estrelas label i.fa:before {
    content:'\f005';
    color: #009688;
    }
    .estrelas input[type=radio]:checked ~ label i.fa:before {
     color: #CCC;
    }
    </style>
<main class="app-content">

    {% for avaliar in avaliar %}
    <div class="row user">
        <div class="col-md-5">
            <div class="tab-content">
                <div class="tab-pane active" id="user-timeline">
                    <div class="timeline-post">
                        <div class="post-media"><a href="#"><img
                                src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"></a>
                            <div class="content">
                                <h5><a href="#">{{avaliar.cliente.nome}}</a> Avaliou</h5>
                                <p class="text-muted"><small>2 January at 9:30</small></p>
                            </div>
                        </div>
                        <div class="post-content">

                            <!--<p> Nota: {{avaliar.nota}}</p>-->
                            <link rel="stylesheet"
                                  href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                            <div class="estrelas">
                                <input type="radio" id="cm_star-empty" name="fb" value=""/>
                                <label for="cm_star-1"><i class="fa"></i></label>
                                {% if avaliar.nota == 1%}
                                    <input type="radio" disabled id="cm_star-1" name="fb" value="1" checked/>
                                {% elif avaliar.nota != 1 %}
                                    <input type="radio" disabled id="cm_star-1" name="fb" value="1"/>
                                {% endif %}
                                <label for="cm_star-2"><i class="fa"></i></label>
                                {% if avaliar.nota == 2%}
                                    <input type="radio" disabled id="cm_star-2" name="fb" value="2" checked/>
                                {% elif avaliar.nota != 2 %}
                                    <input type="radio" disabled id="cm_star-2" name="fb" value="2"/>
                                {% endif %}
                                <label for="cm_star-3"><i class="fa"></i></label>
                                {% if avaliar.nota == 3%}
                                    <input type="radio" disabled id="cm_star-3" name="fb" value="3" checked/>
                                {% elif avaliar.nota != 3 %}
                                    <input type="radio" disabled id="cm_star-3" name="fb" value="3"/>
                                {% endif %}
                                <label for="cm_star-4"><i class="fa"></i></label>
                                {% if avaliar.nota == 4%}
                                    <input type="radio" disabled id="cm_star-4" name="fb" value="4" checked/>
                                {% elif avaliar.nota != 4 %}
                                    <input type="radio" disabled id="cm_star-4" name="fb" value="4"/>
                                {% endif %}
                                <label for="cm_star-5"><i class="fa"></i></label>
                                {% if avaliar.nota == 5%}
                                    <input type="radio" disabled id="cm_star-5" name="fb" value="5" checked/>
                                {% elif avaliar.nota != 5 %}
                                    <input type="radio" disabled id="cm_star-5" name="fb" value="5"/>
                                {% endif %}
                            </div>
                            <p>{{avaliar.descricao}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}